.container {
  max-width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.fa-plus {
  content: '\f067';
  padding: 1rem;
}

.card {
  width: 33%;
  margin-top: -3rem;
  padding: 0 0 1rem 0;
  box-shadow: 0 10px 20px black;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  transition: 0.4s ease-out;
}

.card img {
  width: 100%;
}

.card-body {
  height: auto;
  padding: 2rem;
}

h6.card-title {
  font-weight: 600;
  font-size: 2rem;
}

.card-info {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;

}

.card-text {
  display: none;
}

.card-text.active {
  display: block;
  transition: all 0.5s ease;
  z-index: 1;
}

p.card-text {
  color: black;
  text-align: left;
}

.card-icon {
  display: grid;
  grid-template-columns: auto;
}

.fa-plus:after {
  margin-right: 1rem;
}

@media (max-width: 680px) {
  .container {
    width: 100%;
    height: auto;
    display: grid;
    margin: 0 auto;
  }

  .card {
    position: relative;
    top: 50%;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 2rem auto;
    padding: 0rem;
    box-shadow: 0 10px 20px black;
  }

  .card-body {
    padding: 2rem;
    height: auto;
  }

  h6.card-title {
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
  }

  p.card-info {
    font-size: 1.25rem;
  }
}