h1 {
  font-weight: 700;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.col-md-4 {
  width: 33%;
  margin-top: 3rem;
  padding: 0 0 1rem 0;
  border: 1px solid #555;
  background: #fff;
}

.col-md-4 img {
  width: 100%;
}

/* .col-md-4 img:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-in;
} */

.col-md-4 img:hover~.col-md-4 img {
  position: relative;
  transition: 0.4s ease-in;
  height: auto;
  border-radius: 4%;
}

.fa-minus:before {
  margin-left: 1rem;
}

@media (max-width: 680px) {
  h1.my-5 {
    font-size: 2.5rem;
    text-align: center;
  }

  .mobile-grid {
    margin-top: 15rem;
  }

  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0;
  }

  .col-md-4 {
    width: 100%;
    height: auto;
    margin: 3rem auto;
    padding: 0;
  }

  .col-md-4 img {
    width: 100%;
  }
}