video {
  object-fit: cover;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  object-fit: contain;
}

.hero-container>h1 {
  color: #111;
  font-size: 8rem;
  font-weight: 700;
  object-fit: contain;
}

.hero-container>h1 {
  color: #333;
  font-size: 8rem;
  margin-top: 9rem;
  text-align: center;
}

.hero-container>p {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  text-align: center;
}

.hero-btns {
  margin-top: 1rem;
  text-align: center;
}

.hero-btns .btn {
  margin: 1rem;
}

.btn-outline:hover {
  background-color: yellowgreen;
}

.fa-typo3 {
  margin-left: 4px;
}

@media (max-width: 680px) {
  .hero-container {
    width: 100%;
    height: auto;
    margin-top: 12rem;
  }

  .hero-container>h1 {
    font-size: 1.5rem;
    margin-top: 9rem;
  }

  .hero-container>p {
    font-size: 1.5rem;
    margin-top: 9rem;
  }

  .hero-container>p {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .hero-container>h1 {
    font-size: 2rem;
  }

  .hero-container>p {
    font-size: 1.2rem;
  }

  .hero-container>p {
    font-size: 1.2rem;
  }
}