h1.my-5 {
  font-size: 5rem;
  font-weight: 600;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  margin: -2rem auto;
}

.grid {
  width: 100%;
  display: grid;
}

.wrapper {
  display: block;
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
}

.image-wrapper img {
  width: 100%;
}

.wrapper h1 {
  position: relative;
  top: 12%;
  color: #222;
  font-size: 2.5rem;
  background: #9ACD32;
  padding: 0.75rem;
  display: inline-block;
}

@media (max-width: 680px) {
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
    margin: -3rem auto;
  }

  .wrapper {
    margin: 0;
    padding: 0.5rem;
  }

  .image-wrapper img {
    width: 100%;
    height: 50%;
  }
}