.d-flex {
  width: 100%;
  background-color: yellowgreen;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-item {
  display: inline-block;
  margin: 0 1rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.menu-icon,
.nav-menu {
  display: none;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}

.nav-item.btn-info {
  background: transparent;
  border-bottom: 2px solid black;
}

.nav-item.btn-info:hover {
  border-top: 2px solid black;
}

@media (max-width: 680px) {
  .menu-icon {
    font-size: 3rem;
    display: block;
    margin: 1.5rem 0 0 1.8rem;
  }

  .menu-item {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 65px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar-logo {
    position: relative;
    right: 12%;
  }

  .nav-links {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem;
    margin: 1rem auto;
    border-bottom: 1px solid white;
  }

  li.nav-link.btn-info::marker {
    display: none;
  }

  .nav-links:hover {
    border-top: 1px solid white;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
    text-align: center;
  }

  .btn-info {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background: white;
    text-decoration: none;
  }

  .btn-info:hover {
    border: 1px solid black;
  }

  .btn-info a {
    color: black;
  }
}